#TOP_CONTROL_BUTTON:focused{
    -fx-text-fill:#5f7d8b;
    -fx-border-radius:0;
    /*-fx-border-color:#57b75733;*/
     /*-fx-background-color: transparent;*/
     -fx-background-insets: 0, 0, 0, 0;
     -fx-background-radius: 0;
}
/*#TOP_CONTROL_BUTTON:selected{
    -fx-color:yellowgreen;
    -fx-text-fill:#57b75733;

}*/
#TOP_CONTROL_BUTTON:armed{
    -fx-color:yellowgreen;
    -fx-text-fill:#5c93ac;
}
#TOP_CONTROL_BUTTON{
    -fx-text-fill:#5f7d8b;
    -fx-background-color:transparent;
    -fx-border-radius:0;
    -fx-background-insets: 0, 0, 0, 0;
    -fx-background-radius: 0;
    -fx-color:yellowgreen;
}

#PANELS_BUTTON{
-fx-padding: 4 5;

    -fx-background-color:white;
    -fx-background-radius: 0;
    -fx-border-radius:0;
    -fx-background-insets: 0, 0, 0, 0;
    /*-fx-effect: dropshadow(gaussian ,#555555 , 4, 0, 0.5, 0.5);*/

     -fx-effect: dropshadow(gaussian ,#555555 , 2, 0, 0.5, 0.5);
     /* -fx-text-fill:#003641; */
     -fx-text-fill:#355d6e;
     -fx-text-fill:#61757d;
    /*-fx-font-family: "Roboto Light";*/
    /*-fx-font-size: 17;*/

}
#PANELS_BUTTON:armed{
     -fx-background-color:#FF8964;
    -fx-background-radius: 0;
    -fx-border-radius:0;
    -fx-background-insets: 0, 0, 0, 0;
    -fx-background-radius: 0;
    /*-fx-effect: dropshadow(gaussian ,#555555 , 4, 0, 0.5, 0.5);*/
      -fx-font-weigh:bold ;
     -fx-effect: dropshadow(gaussian ,#555555 , 3, 0, 0.5, 0.5);
     -fx-text-fill:white;
    /*-fx-font-family: "Roboto Light";*/
    /*-fx-font-size: 17;*/



}
#PANELS_BUTTON:hover{
     /*-fx-background-color:#ff3d00;*/
    -fx-background-radius: 0;
    -fx-border-radius:0;
    -fx-background-insets: 0, 0, 0, 0;
    -fx-background-radius: 0;
    -fx-effect: dropshadow(gaussian ,#555555 , 3, 0, 0.5, 0.5);
    -fx-font-weigh:bold ;
     /* -fx-effect: dropshadow(gaussian ,#555555 , 10, 0, 0.5, 0.5); */
     /*-fx-text-fill:#003641;*/
    /*-fx-font-family: "Roboto Light";*/
    /*-fx-font-size: 17;*/



}
