#COMBOBOX{/* правая панелька */
-fx-background-color:#f0fafa;
}

#COMBOBOX .list-cell{/*подложка выпадающего списка  */
-fx-background-color:#ffffff;
}

#COMBOBOX .text-input{
-fx-background-color:#ffffff;
}

#COMBOBOX .combo-box-popup{
-fx-background-color:#ffffff;
}

#COMBOBOX .list-view{
-fx-background-color:#ffffff;
}

#COMBOBOX .list-cell{
-fx-background-color:#ffffff;
}
