#LEFT_SIDE_MENU_ROOT{
         /*-fx-background-color: white;*/

     -fx-pref-width: 60;
         
}
#LEFT_SIDE_MENU_ICON_PANEL{
    
         /*-fx-background-color: #14333D;*/
         /*-fx-background-color: #3f828a;*/
         /*-fx-background-color: #53A5B2;*/
         -fx-background-color: #003641;
         -fx-pref-width: 60;
     
}

#LEFT_SIDE_MENU_ICON_TEXT{
    
         -fx-background-color: #c84164;
   
}

#TOP_ICON_PANEL{
    -fx-pref-height: 40;
        -fx-background-image: url("/res/img/logo33.png");
      -fx-background-size:60;
    
    
}



#LEFT_SIDE_MENU_VERTICAL_BUTTONS{
    
     /*-fx-text-fill:#5f7d8b;*/
     -fx-text-fill:white;
    -fx-background-color:#003641;
    -fx-background-radius: 0;
    -fx-border-radius:0;
    -fx-background-insets: 0, 0, 0, 0;
    -fx-background-radius: 0;
    -fx-color:yellowgreen;
     -fx-pref-width: 60;
     -fx-pref-height:40;
}
#LEFT_SIDE_MENU_VERTICAL_BUTTONS:armed,
#LEFT_SIDE_MENU_VERTICAL_BUTTONS_CLICKED{
    
     /*-fx-text-fill:#5f7d8b;*/
     -fx-text-fill:white;
    /*-fx-background-color:#14e715;*/    
    -fx-background-color:#ff3d00;
    /*-fx-background-color:red;*/
    -fx-background-radius: 0;
    -fx-border-radius:0;
    -fx-background-insets: 0, 0, 0, 0;
    -fx-background-radius: 0;
    /*-fx-color:yellowgreen;*/
     -fx-pref-width: 60;
     -fx-pref-height:40;
}
#LEFT_SIDE_MENU_VERTICAL_BUTTONS:focused{
    
     /*-fx-text-fill:#5f7d8b;*/
     -fx-text-fill:white;
    /*-fx-background-color:transparent;*/
    -fx-background-radius: 0;
    -fx-border-radius:0;
    -fx-background-insets: 0, 0, 0, 0;
    -fx-background-radius: 0;
    -fx-color:yellowgreen;
     -fx-pref-width: 60;
     -fx-pref-height:40;
}

#LEFT_SIDE_MENU_COMMON_TEXT{
    
    -fx-fill:#22515B;
    -fx-opacity:0.4;
}
#LEFT_SIDE_MENU_ICON_TEXT_PANEL{
    -fx-pref-width: 110;
     
}

#LEFT_SIDE_MENU_HORIZONTAL_BUTTONS{
    -fx-background-color:transparent;
    -fx-background-radius: 0;
    -fx-border-radius:0;
    -fx-background-insets: 0, 0, 0, 0;
    -fx-background-radius: 0;
    -fx-background-color:transparent;
    -fx-padding:3 10 3 10;
    -fx-text-fill:#22515B;
    -fx-pref-height: 35;
     -fx-border-width: 0.5  0.5   0    0.5;
    -fx-border-insets:0.5  0.5   0    0.5;
    -fx-border-color: derive(#003641,120%) white  derive(#003641,120%) white;
    -fx-border-style:solid ;

    
}

#LEFT_SIDE_MENU_HORIZONTAL_BUTTONS:armed,
#LEFT_SIDE_MENU_HORIZONTAL_BUTTONS_CLICKED{
      /*-fx-background-color:derive(#E9FFFC,50%);*/
      -fx-background-color:#ECF1F2;
      -fx-border-style:solid ;
        -fx-padding:3 10 3 10;
        
     -fx-pref-height: 35;
      /*-fx-background-insets:-0.5 -0.5 -0.5  -0.5;*/
      
    -fx-border-width: 0.5  0.5   0    0.5;
    -fx-border-insets:0.5  0.5   0    0.5;
    -fx-border-color:derive(#4A7F77,40%);
  
    /*-fx-border-insets:1;*/
      
   
}

#LEFT_SIDE_MENU_NAMES_PANEL{
     -fx-padding:0 0 0 0;
     -fx-pref-height: 35;
      -fx-background-color: white;
     /*-fx-border-color:#57b75733;*/
     -fx-border-color:derive(#003641,120%);
     -fx-border-width: 0.5 0.5 0.5 0.5; 
     
    
}
