
    /*-fx-base: #006064;*/
     /*-fx-focus-color: yellow;*/
    /*-fx-focus-color: red;*/
    /*-fx-faint-focus-color: yellow;*/
    /*-fx-background-color: transparent;*/
 /*-fx-background-image: url("/res/img/z1.png");*/
/* -fx-border-width: 0 0 1 0; 
 -fx-border-color: darkgoldenrod darkgoldenrod #dce0e1 darkgoldenrod;*/
 /*-fx-effect: dropshadow(three-pass-box, #1F4D5C,  3, 0.05, 0.0, 0.0);*/
/*-fx-pref-height: 40;
        -fx-background-image: url("/res/img/logo2.png");
      -fx-background-size:60;*/