#TABLE,#TABLE:focused,#TABLE:armed,#TABLE:selected{
    /*-fx-border-color:red;*/
    -fx-border-style:none ;
    /*-fx-border-width: 0.3  0.3   0.3    0.3;*/
    -fx-background-insets: 0, 0, 0, 0;
    /*-fx-border-style:solid ;*/
     /*-fx-border-color: derive(#003641,70%);*/

     -fx-effect: dropshadow(gaussian ,#ACB5A3 , 5, 0, 0.5, 0.5);
}

#TABLE .column-resize-line{

    -fx-background-color:#c5cae9;
    -fx-pref-width:1;

}
#TABLE .column-overlay {

    -fx-background-color:#a7ffeb;

}
#TABLE .placeholder {

    -fx-background-color:white;

}
#TABLE .column-header-background {

    -fx-background-color:black;

}
#TABLE .nested-column-header {

    /*-fx-background-color:orange;*/

}
#TABLE .column-header {

    /*-fx-background-color:white;*/

}
#TABLE .filler {

    -fx-background-color:#c84164;

}

/*#TABLE .column-drag-header {

    -fx-background-color:#57b75733;

}*/
/*#TABLE .label {

    -fx-background-color:#f3622d;

}
#TABLE .table-column {

    -fx-background-color:aquamarine;

}*/
