.root {
    
    -fx-header-color: derive(#d7e1e3,40%);
   
}


#TABLE,#TABLE:focused,#TABLE:armed,#TABLE:selected{
/*    -fx-border-color:#5E7D8B;
    -fx-border-style:solid ;
    -fx-border-width: 0.3  0.3   0.3    0.3;*/
    /*-fx-border-style:solid ;*/
     /*-fx-border-color: derive(#003641,70%);*/

     /*-fx-effect: dropshadow(gaussian ,#555555 , 5, 0, 0.5, 0.5);*/
     -fx-effect: dropshadow(gaussian ,#555555 , 2, 0, 0.5, 0.5);
     
    -fx-background-insets: 0;
    -fx-padding: 0;
}

#TABLE .column-resize-line{
    -fx-background-color:red;
    -fx-pref-width:0;
    
    -fx-background-insets: 0;
    -fx-padding: 0;

}
#TABLE .column-overlay {/*при перетягивании колонки появляется оверлэй*/
    -fx-background-color:#22515B;
    
    -fx-background-insets: 0;
    -fx-padding: 0;
}
#TABLE .placeholder {/*не определил*/

    /*-fx-background-color:white;*/
    /*-fx-background-color:red;*/

}
#TABLE .column-header-background {/*ЭТО самая нижняя подложка заголовка*/

    /*-fx-background-color:-fx-header-color;*/
    -fx-background-color:transparent;
    -fx-pref-height:35;
    
    -fx-background-insets: 0;
    -fx-padding: 0;

}
#TABLE .nested-column-header {/*не определил*/
    -fx-pref-height:35;
    
    -fx-background-insets: 0;
    -fx-padding: 0;

}
#TABLE .column-header {/*ЗАГОЛОВОК КОЛОНКИ*/

    -fx-background-color:-fx-header-color;
    -fx-pref-height:35;
    -fx-border-radius:0;
    -fx-border-width: 0 1 1 0; 
    -fx-border-style: solid;
    -fx-border-color:#DFDFDF;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-padding: 0;
}

#TABLE .column-header .table-column{}

#TABLE .filler {/*ЭТО children самой нижней подложки заголовка*/
    -fx-background-color:-fx-header-color;
}
#TABLE .column-drag-header {}

#TABLE .nested-column-header .label {
    -fx-text-fill:#003641;
    -fx-font-family: "Roboto Light";
    -fx-font-size: 17;
    
    -fx-background-insets: 0;
    -fx-padding: 0;

}
.table-view *.scroll-bar:horizontal *.increment-button,
.table-view *.scroll-bar:horizontal *.decrement-button {
    -fx-background-color: null;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-padding: 0;
}

.table-view *.scroll-bar:horizontal *.increment-arrow, 
.table-view *.scroll-bar:horizontal *.decrement-arrow {
    -fx-background-color: null;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-padding: 0;
    -fx-shape: null;
}