#COMBOBOX .text-input{
-fx-background-color:#ffffff;
}

#COMBOBOX .combo-box > .list-cell {
    -fx-background:#ffffff ;
    -fx-background-color:#ffffff ;
    -fx-text-fill:#003641 ;
    -fx-padding: 0.333333em 0.666667em 0.333333em 0.666667em; /* 4 8 4 8 */
    -fx-border-radius:0;
      -fx-background-insets: 0, 0, 0, 0;
      -fx-background-radius: 0;
      -fx-background-radius: 0 3 3 0, 0 2 2 0, 0 1 1 0;
        -fx-padding: 0.5em 0.667em 0.5em 0.833333em; /* 6 8 6 10 */
        -fx-border-radius:0;
          -fx-background-insets: 0, 0, 0, 0;
          -fx-background-radius: 0;
          -fx-border-width: 0;
          -fx-border-color: #7f7991;
}
#COMBOBOX .combo-box-base > .arrow-button {
    -fx-padding: 0.5em 0.667em 0.5em 0.833333em; /* 6 8 6 10 */
    -fx-border-radius:0;
      -fx-background-insets: 0, 0, 0, 0;
      -fx-background-radius: 0;
      -fx-background:#ffffff ;
        -fx-background-color:#ffffff ;
      -fx-border-width: 0.5;
      -fx-border-color: #7f7991;
      -fx-background-radius: 0;

}
#COMBOBOX .combo-box-base:editable > .arrow-button,
.date-picker > .arrow-button {
    -fx-background-color: #ffffff;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
     -fx-border-radius:0;
      -fx-background-insets: 0, 0, 0, 0;
      -fx-background-radius: 0;
      -fx-background-color:#ffffff;
      -fx-border-width: 0.5;
      -fx-border-color: #7f7991;
      -fx-background-radius: 0;
      -fx-border-radius:0;
      -fx-background-insets: 0, 0, 0, 0;
      -fx-background-radius: 0;
}
#COMBOBOX .combo-box-base:editable > .text-field,
.date-picker > .text-field {
    -fx-background-color:#ff0000;
    -fx-background-insets:0;
    -fx-background-radius: 0;
      -fx-border-radius:0;
      -fx-background-insets: 0, 0, 0, 0;
      -fx-background-radius: 0;
      -fx-background-color:#ffffff;
      -fx-border-width: 0.5;
      -fx-border-color: #7f7991;
      -fx-background-radius: 0;
      -fx-border-radius:0;
      -fx-background-insets: 0, 0, 0, 0;
      -fx-background-radius: 0;
}
#COMBOBOX .combo-box-popup .text{

  -fx-background-radius: 0;
  -fx-border-radius:0;
  -fx-background-insets: 0, 0, 0, 0;
  -fx-background-radius: 0;
  -fx-background-color:#ffffff;
  -fx-border-width: 0.5;
  -fx-border-color: #7f7991;
      -fx-background-color:red;
      -fx-background-radius: 0;
      -fx-border-radius:0;
      -fx-background-insets: 0, 0, 0, 0;
      -fx-background-radius: 0;
}

#COMBOBOX .combo-box-popup > .list-view {

    -fx-background-color:#ffffff;
    -fx-background-insets: 0, 1;
    -fx-effect: dropshadow(gaussian ,#605d5d , 2, 0, 0.5, 0.5);
    -fx-background-radius: 0;
    -fx-border-radius:0;
    -fx-background-insets: 0, 0, 0, 0;
    -fx-background-radius: 0;
    -fx-background-radius: 0;
    -fx-border-radius:0;
    -fx-background-insets: 0, 0, 0, 0;
    -fx-background-radius: 0;
}
#COMBOBOX .combo-box-popup > .list-view > .virtual-flow > .clipped-container > .sheet > .list-cell {
    -fx-padding: 4 0 4 5;
    -fx-background:#ffffff ;
    -fx-background-radius: 0;
    -fx-border-radius:0;
    -fx-background-insets: 0, 0, 0, 0;
    -fx-background-radius: 0;
    -fx-background-color:#ffffff;
    -fx-border-width: 0.5;
    -fx-border-color: #7f7991;
    -fx-background-radius: 0;
    -fx-border-radius:0;
    -fx-background-insets: 0, 0, 0, 0;
    -fx-background-radius: 0;
}
#COMBOBOX .combo-box-popup > .list-view > .virtual-flow > .clipped-container > .sheet > .list-cell:filled:hover {
    -fx-background: #e7f0f1;
    -fx-background-color: #e7f0f1;
    -fx-background-radius: 0;
    -fx-border-radius:0;
    -fx-background-insets: 0, 0, 0, 0;
    -fx-background-radius: 0;
    -fx-background-radius: 0;
    -fx-border-radius:0;
    -fx-background-insets: 0, 0, 0, 0;
    -fx-background-radius: 0;

}
#COMBOBOX .combo-box-popup  > .list-view > .virtual-flow > .clipped-container > .sheet > .list-cell:filled:selected,
.combo-box-popup  > .list-view > .virtual-flow > .clipped-container > .sheet > .list-cell:filled:selected:hover {
    -fx-background: #d5e5e8;
    -fx-background-color: #d5e5e8;
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 0;
    -fx-border-radius:0;
    -fx-background-insets: 0, 0, 0, 0;
    -fx-background-radius: 0;
    -fx-border-radius:0;
    -fx-background-insets: 0, 0, 0, 0;
    -fx-background-radius: 0;

}
#COMBOBOX .combo-box-popup > .list-view > .placeholder > .label {
    -fx-text-fill: derive(-fx-control-inner-background,-30%);
    -fx-background:#ffffff ;
      -fx-background-radius: 0;
      -fx-border-radius:0;
      -fx-background-insets: 0, 0, 0, 0;
      -fx-background-color:#ffffff;
      -fx-border-width: 0;
      -fx-border-color: #ffffff;

  }
  #COMBOBOX{/* правая панелька */
  -fx-background-color:#ffffff;
  -fx-border-width: 1;
  -fx-border-color: #cfc0c0;
  -fx-background-insets: 0, 0, 0, 0;
  }

  /* #COMBOBOX .list-cell{
  -fx-border-width: 0.5 0 0.5 0.5;
  -fx-border-color: #cfc0c0;
  -fx-background-insets: 0, 0, 0, 0;
  } */

  #COMBOBOX .text-input{
  -fx-background-color:red#ffffff;
  -fx-border-width: 0.5 0 0.5 0.5;
  -fx-border-color: #373232;
  -fx-background-insets: 0, 0, 0, 0;
  }

  /* #COMBOBOX .combo-box-popup{
  -fx-background-color:#ffffff;
  }

  #COMBOBOX .list-view{
  -fx-background-color:#ffffff;
  }

  #COMBOBOX .list-cell{
  -fx-background-color:#ffffff;
  }
  #COMBOBOX .combo-box-popup  .popup{
  -fx-background-color:#17dcff;
  }
  #COMBOBOX .combo-box-popup{
  -fx-background-color:#ff5d17;
  }
  #COMBOBOX .combo-box-popup .list-view{
  -fx-background-color:#ffffff;
  }
  #COMBOBOX .combo-box-popup .list-cell{
  -fx-background-color:#f50000;
  } */
