@font-face {
    src: url("../../fonts/Roboto-Light.ttf");
}
@font-face {
    src: url("../../fonts/Roboto-Bold.ttf");
}
@font-face {
    src: url("../../fonts/Roboto-Slab.ttf");
}
@font-face {
    src: url("../../fonts/batch-icons-webfont.ttf");
}
@font-face {
    src: url("../../fonts/Docker Two.ttf");
}
@font-face {
    src: url("../../fonts/Font-Awesome-5-Free-Solid-900.ttf");
}
@font-face {
    src: url("../../fonts/Font-Awesome-5-Free-Regular-400.ttf");
}
@font-face {
    src: url("../../fonts/webhostinghub-glyphs.ttf");
}
@font-face {
    src: url("../../fonts/foundation-icons.ttf");
}
@font-face {
    src: url("../../fonts/ionicons.ttf");
}
@font-face {
    src: url("../../fonts/themify.ttf");
}
@font-face {
    src: url("../../fonts/batch-icons-webfont.ttf");
}
@font-face {
    src: url("../../fonts/MaterialIcons-Regular.ttf");
}


   
