#TARGET_PANEL{
      -fx-background-color: transparent;
         -fx-padding:0 0 0 0;
}
#INNER_PANE{
}
#WindowButtonsPanel{
  -fx-background-color: transparent;
    -fx-border-width: 0 0 0.2 0;
      -fx-border-color: #a79090;
}
#LABEL_COMMON_GRID_TEXT{
  -fx-common:#697886;
  -fx-text-fill: -fx-common;
  -fx-color: -fx-common;
  -fx-fill:-fx-common;
  -fx-fill:-fx-common;
  -fx-text-fill:-fx-common;
}
#LABEL_TEXT{
      -fx-label:#697886;
            -fx-text-fill:  -fx-label;
            -fx-color:      -fx-label;
            -fx-fill:       -fx-label;
            -fx-fill:       -fx-label;
            -fx-text-fill:  -fx-label;
}
#HORIZONTAL_FLOW_MENU_PANEL{
       -fx-background-color: #ffffff;
        -fx-padding: 0  0 0 0.5;
       -fx-border-width: 0   0   0.1    0.1;
         -fx-border-color: #28385e;
}
#TILE_PANE_ANCHOR{
    -fx-background-color:white;
    -fx-background-radius: 0;
    -fx-border-radius:0;
    -fx-background-insets: 0, 0, 0, 0;
    -fx-effect: dropshadow(gaussian ,#555555 , 2, 0, 0.5, 0.5);
}
